/*basic styles*/




main{
  font-family: 'Source-Sans', Arial, Helvetica, sans-serif;
  line-height:1.2rem;
  margin-left:30%;
  margin-top:5rem;
}

/*keeps link inside of card*/ 
.card{
  width:min-content;
}
/*removed default styles for links*/
a{
  text-decoration:none;
}

a:hover {
  background-color: white;
}

/*heading style*/
h3{
  font-family: 'Libre Baskerville' , Georgia, 'Times New Roman', Times, serif;
  font-weight:500;
  font-size:30px;
}
/*subheading style*/
h4 {
  
  line-height: 1.2rem;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}
/*text style*/
p{
  line-height: 1.2rem;
  padding-top:0;
  margin: 0;

}
/*card body*/
article{
  background-color:  	hsl(3, 29%, 47%);
  color: hsl(0, 0%, 100%);

  border: 2px;
  border-style:solid;
  border-color: 	hsl(3, 29%, 47%);

  max-width: 45ch;
  min-width:10ch;
  
  margin: auto;
  padding:2.5rem;
}

/*card image*/
img{
  margin:auto;
  padding: auto;
  display:block;
  position:relative;
}

/*date box*/
aside{
  background-color: 	 	hsl(4, 45%, 64%);
  color:hsl(0, 12%, 18%);
  border-style:solid;
  border-color: 	 	hsl(4, 45%, 64%);
  display:block;
  text-align: center;
  height:50px;
  width:50px;
  
  left:60%; /* play around with this STILL NEEDS TO BE DONE*/
  position:relative;
  top:16.5%; /* and play around with this STILL NEEDS TO BE DONE*/
}

/*date text styling*/
.date{
  font-family:'Source-Sans', Arial, Helvetica, sans-serif;
  font-style: light;
  position:center;
  display:block;
}

 /*centers date in box*/
.datebox{
  text-align:center;
  padding-top:0.4rem;
}

/*adjust css for mobile*/
@media screen and (max-width: 480px) {
  /*removes default margin*/
  html{
    padding: 0;
    margin: 0;
    display:block;

  }

  body{
    display:block;
    margin:0;
    padding:0;

  }
  /*space from top*/
  main{
    margin-left:0;
    margin-top: 5rem;
    
  }

  article {
    background-color:  	hsl(3, 29%, 47%);
    margin:auto;
    padding:1.5rem;
    width:100%;
    
  }

  h3{
    line-height:1.8rem;
  }
}